@font-face {
  font-family: poppins-light;
  src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins-thin;
  src: url(./fonts/Poppins-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #A5A58D;
}

.container {
  width: 100%;
  height: 10vh;
  min-height: 100px;
  background-color: #6B705C;
}

#header {
  width: 100%;
  height: 100%;
}

#addTodoInput, #editTodoInput {
  width: 80%;
  height: 100%;
  opacity: 0.5;
  outline: none;
  border: 10px solid #6B705C;
  text-align: center;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  font-family: poppins-Light, serif;
  border-bottom-left-radius: 50px;
}

#editTodoInput {
  display: none;
}

#inputContainer {
  height: 100%;
  width: 80%;
}

#addTodoInput::placeholder, #editTodoInput::placeholder {
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  text-align: center;
  opacity: 0.5;
}

#addTodoForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: none;
}

#submitTodo, #editTodo {
  height: 80%;
  width: 10%;
  display: flex;
  justify-self: flex-end;
  outline: none;
  align-items: center;
  justify-content: center;
  font-size: clamp(20pt, 1.5vw, 3rem);
  font-family: poppins-thin;
  border: none;
  background-color: #41472f;
  color: #A5A58D;
  border-top: none;
  border-left: none;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media only screen and (min-width: 1000px) {
  #submitTodo:hover, #editTodo:hover {
    color: #6B705C;
    border: 0.1vw solid #41472f;
    background-color: #B7B7A4;
  }
}
#submitTodo:active, #editTodo:active {
  color: #41472f;
}

#editTodo {
  display: none;
}

#todoContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  #todoContainer {
    width: 90%;
  }

  #container {
    height: 20vh;
    min-height: 100px;
  }

  #addTodoInput, #editTodoInput {
    border-radius: 0;
    width: 100%;
    height: 75%;
    border: 0;
  }

  #submitTodo, #editTodo {
    height: 40%;
    width: 100%;
    border-radius: 0;
  }

  #addTodoForm {
    flex-direction: column;
  }

  #submitTodo:active, #editTodo:active {
    color: #6B705C;
    background-color: #B7B7A4;
  }
}
#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#listOfTodos {
  width: 100%;
  margin-top: 100px;
  list-style: none;
}

.todoItem {
  background-color: black;
  width: 100%;
  min-height: 0;
  height: 0px;
  max-height: 0px;
  overflow: hidden;
  display: flex;
  margin-bottom: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 0 20px -5px;
  transform-origin: top;
}

.todoText {
  width: 80%;
  font-size: 0;
  font-family: poppins-Light;
  overflow-wrap: anywhere;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.todoButton {
  width: 100%;
  height: 0;
  outline: none;
  border: none;
  background-color: white;
}

.buttonContainer {
  display: flex;
  width: 20%;
  flex-direction: column;
}

.editTodo {
  border-top-right-radius: 50px;
  width: 100%;
}

.deleteTodo {
  border-bottom-right-radius: 50px;
  width: 100%;
}

.editTodo:active svg, .deleteTodo:active svg {
  fill: red;
}

:not(.inEdit).editTodo:hover {
  background-color: #B7B7A4;
}

.deleteTodo:hover {
  background-color: #B7B7A4;
}

.editIcon, .deleteIcon {
  height: 0;
}

.checked {
  -webkit-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
  width: 25px;
  background-color: #6B705C;
  opacity: 0;
}

.editClicked, .editClicked:hover {
  background-color: #6B705C;
}

.inEdit {
  background-color: #6B705C;
}
.inEdit .editTodo:hover {
  background-color: #6B705C;
}

@media only screen and (max-width: 600px) {
  .todoItem {
    flex-direction: column;
    border-top-right-radius: 0px;
  }

  .buttonContainer {
    width: 100%;
  }

  .todoText {
    width: 100%;
  }

  .editTodo {
    border-top-right-radius: 0;
  }

  .editIcon, .deleteIcon {
    height: clamp(50px, 5vh, 5vh);
  }

  .checked {
    width: 100%;
    -webkit-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
  }
}

/*# sourceMappingURL=style.css.map */
